apiserver/testdata/wdsl/mini_action.xml

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions xmlns:emds="urn:emds:service" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="urn:service" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:service"><wsdl:types><xsd:schema xmlns:emds="http://www.emds-ag.de/namespace/" elementFormDefault="unqualified" emds:messageFormat="XML">
    <xsd:element name="mt_cmdb_system">
      <xsd:complexType>
        <xsd:sequence>
          <xsd:element name="AMA_SYSTEM">
            <xsd:annotation>
              <xsd:appinfo source="emdsorch:tablename">AMA_SYSTEM</xsd:appinfo>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element name="STATUS">
                  <xsd:annotation>
                    <xsd:appinfo source="emdsorch:columnname">STATUS</xsd:appinfo>
                    <xsd:appinfo source="emdsorch:dbtypename">VARCHAR2</xsd:appinfo>
                  </xsd:annotation>
                  <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                      <xsd:maxLength value="254"/>
                    </xsd:restriction>
                  </xsd:simpleType>
                </xsd:element>
                <xsd:element name="SYSTEM_ID" type="xsd:decimal"/>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:element>
  </xsd:schema></wsdl:types><wsdl:message name="insert_miniRequest"><wsdl:part element="mt_cmdb_system" name="data"/></wsdl:message><wsdl:message name="insert_miniResponse"><wsdl:part name="soapres" type="xsd:string"/></wsdl:message><wsdl:portType name="sp_cmdb_mini"><wsdl:operation name="insert_mini"><wsdl:input message="tns:insert_miniRequest"/><wsdl:output message="tns:insert_miniResponse"/></wsdl:operation></wsdl:portType><wsdl:binding name="SoapBinding" type="tns:sp_cmdb_mini"><soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/><wsdl:operation name="insert_mini"><soap12:operation soapAction="insert_mini" style="document"/><wsdl:input><soap12:body use="literal"/></wsdl:input><wsdl:output><soap12:body use="literal"/></wsdl:output></wsdl:operation></wsdl:binding><wsdl:service name="sp_cmdb_mini"><wsdl:port binding="tns:SoapBinding" name="PortSoapBinding_0"><soap12:address location="http://X10037275.balgroupit.com:8819/mini_action"/></wsdl:port></wsdl:service></wsdl:definitions>